<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duckmaniac</title>
  </head>
  <body>
    <h1>Hello World with Duckm from view</h1>
    <p><%=data %></p>
  </body>
</html>
